<h1>Listing response e-mails</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Reply to</th>
			<th>Subject</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
	<% for response_email in @response_emails %>
		<tr>
			<td><%=h response_email.reply_to %></td>
			<td><%=h response_email.subject %></td>
			<td><%= link_to 'Edit', edit_response_email_path(response_email) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
